# Byte-compiled / optimized files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# Ignore gameboy files
*.gb
*.gb.*
*.gba

# Ignore screenshots
screenshot.png

# Ignore run data folders
env_data/
checkpoints/
